polkit.addRule(function(action, subject) {
    var units = ["torkitten-tor.service", "torkitten-caddy.service"];
    var verbs = ["start", "stop", "restart", "reload"];
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        subject.user == "torkitten" &&
        units.indexOf(action.lookup("unit")) >= 0 &&
        verbs.indexOf(action.lookup("verb")) >= 0) {
        return polkit.Result.YES;
    }
});
