[Desktop Entry]
Type=Application
Name=Torkitten
Comment=Manage persistent onion gateways
Exec=/usr/bin/torkitten-desktop
TryExec=/usr/bin/torkitten-desktop
Icon=torkitten
Terminal=false
Categories=Network;Security;
StartupNotify=true

